.home-logo {
    height: 100px;
    margin: 30px auto 0 auto;
}

.homepage p {
    margin-block-start: 1.3em;
    font-size: 1.3em;
    text-align: center;
}

.homepage-button {
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    font-style: italic;
    border-radius: 40px;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    border: 2px solid #0a849982;
}

.homepage-button:hover {
    color: white;
    background-color: #0a8499;
}