h1,
h2 {
    text-align: center;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.8em;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    font-size: large;
    font-weight: 300;
}

.page-content {
    max-width: 900px;
    padding: 15px;
    margin: 20px auto 0 auto;
}