nav {
    display: flex;
    justify-content: center space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    box-shadow: 0 5px 10px lightgray;
}

.link {
    color: rgb(75, 75, 75);
    text-decoration: none;
}

.desktop-link {
    margin: 0 15px 0 15px;
    font-size: 20px;
}

.burger-link {
    margin: 15px 0 15px 0;
    font-size: 25px;
}

nav img {
    margin: 15px 0 15px 0;
    height: 70px;
}

#desktop-links-container {
    width: 100%;
}

#desktop-links {
    float: right;
}

.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}

.bm-burger-bars {
    background: #373a47;
}

.bm-cross-button {
    height: 100px;
    width: 100px;
}

.bm-cross {
    background: gray;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: #ffffff;
    padding: 2.5em 1em 0;
}

.bm-item-list {
    width: max-content;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.4);
}