@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}

.page-content {
    max-width: 1000px;
    padding: 15px;
    margin: auto;
}

a {
    font-weight: 500;
    color: #0A889E;
}

h1,
h2 {
    text-align: center;
}

h1,
h3 {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

h2 {
    margin-block-end: 0.6em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
    font-weight: 400;
    font-style: italic;
}

span {
    display: inline-block;
}

img {
    display: block;
}

#main-logo {
    height: 100px;
    margin: 15px auto 0 auto;
}

figure img {
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
}

figure figcaption {
    text-align: center;
    font-weight: 300;
    font-style: italic;
}

p,
ul {
    font-size: large;
    font-weight: 300;
}

/* 
TODO: revisit nav link hover animations 
https://stackoverflow.com/questions/26726436/css-bottom-border-transition-expand-from-middle

if not that, figure out a way to make things that hover not move their clickable area?
If you come at a link from the bottom, sometimes it will move away from your mouse too much.
*/
.hover-raise {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.hover-raise:hover {
    top: -4px;
}